@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Palette

Warm Beige (#F5EFE3)
Sage Green (#B5C99D)
Terracotta (#E07A5F)
Dusty Rose (#D2A3A9)
Goldenrod (#F9C22E) */

/* Customize navigation arrow styles */
.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  color: #ff9900; /* Change arrow color */
  font-size: 74px !important; /* Change arrow size */
  scale: 1.3;
}

/* Customize active pagination bullet styles */
.my-swiper .swiper-pagination-bullet-active {
  background-color: #ff9900; /* Change active bullet color */
  width: 12px !important; /* Change active bullet width */
  height: 12px !important; /* Change active bullet height */
  opacity: 1 !important; /* Change active bullet opacity */
}

@media screen and (max-width: 600px) {
.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
  scale: 1;
}
.my-swiper .swiper-pagination-bullet-active {
    background-color: #ff9900; /* Change active bullet color */
    width: 9px !important; /* Change active bullet width */
    height: 9px !important; /* Change active bullet height */
    opacity: 1 !important; /* Change active bullet opacity */
  }
}


/* 
html {
  scroll-snap-type: y mandatory;
} */




/* .react-calendar__tile{
  background-color: #ff9900 !important;
} */



#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #F5FDFF;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
/* a {
  @apply text-blue-600 underline;
} */

/* [{ size: ["small", false, "large", "huge"] }], */

pre {
  @apply text-base p-4 bg-gray-100;
}

code {
  @apply text-blue-500 font-semibold;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}




/* 
.ql-size-huge{
  @apply text-4xl;
}.ql-size-large{
  @apply text-xl;
}.ql-size-small{
  @apply text-xs;
}.ql-size-normal{
  @apply text-xs;
}.ql-align-center{
  text-align: center;
} */

